
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/_AdminHome.cshtml";

}

<div class="login-container d-flex justify-content-center align-items-center min-vh-100">
    <main class="form-signin w-100" style="max-width: 400px;">
        <form method="post" action="@Url.Action("")>
            <h1 class="h3 mb-3 fw-normal text-center">Forgot Password</h1>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingEmail" name="Email" placeholder="name@example.com">
                <label for="floatingEmail">Email address</label>
            </div>
            <button class="btn btn-primary w-100 py-2 " type="submit" name="action" value="submit">Send Verification Code</button>
            @* @Html.ActionLink("Send Verification Code", "ResetPassword", null, new { @class = "btn btn-primary w-100 py-2" })*@

        </form>
    </main>
</div>

