@{
    ViewBag.Title = "_AdminHome";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   @* <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/css/Admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <form id="form1">
        @*Header Section*@
        <header class="d-flex justify-content-between align-items-center p-3 border-bottom">
            <div>
                <a href="https://aytech.co.in/"><img src="~/Content/img/ay.png" alt="Logo" class="img-fluid" style="max-height: 50px;"></a>
            </div>
            <div class="text-center flex-grow-1">
                <h1 class="h4 mb-0">Salary Management System</h1>
            </div>
            <div>
                <a href="AdminRegistration.aspx" class="btn btn-secondary">Register</a>
                <a href="AdminLogin.aspx" class="btn btn-primary me-2">Login</a>
            </div>

        </header>

        <div>
            @RenderBody()

        </div>
    </form>
</body>
</html>
